---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <p>
      I have worked with various companies and organizations, contributing to a wide range of projects. My experience includes roles in
      software development, project management, and team leadership.
    </p>
  </Container>
</PageLayout>
