---
import ArrowIcon from "@components/ArrowIcon.astro";
---

<button id="back-to-top" aria-label="Back to top" class="hover-card relative group w-fit flex pl-10 pr-4 py-2 flex-nowrap rounded">
  <ArrowIcon class="absolute top-1/2 left-3 -translate-y-1/2 size-5 rotate-90" />
  <div class="text-sm">Back to top</div>
</button>

<script>
  let controller: AbortController | null = null;

  function init() {
    controller?.abort();
    const button = document.getElementById("back-to-top");
    if (!button) return;
    controller = new AbortController();
    button.addEventListener(
      "click",
      (event) => {
        event.preventDefault();
        window.scrollTo({ top: 0, behavior: "smooth" });
      },
      { signal: controller.signal }
    );
  }

  document.addEventListener("DOMContentLoaded", init);
  document.addEventListener("astro:after-swap", init);
</script>
