---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="text-2xl" style="font-family: var(--font-title);">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-2 text-lg">
        <Link href="/notes"> notes </Link>
        <span>
          {`/`}
        </span>
        <Link href="/projects"> projects </Link>
        <span>
          {`/`}
        </span>
        <Link href="/about"> about </Link>
      </nav>
    </div>
  </Container>
</header>
