---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  class?: string;
};

const { href, external = false, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  rel={external ? "noopener noreferrer" : undefined}
  class={cn(
    "inline-flex items-center justify-center px-6 py-3 rounded-lg border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out",
    className
  )}
  {...rest}
>
  <slot />
</a>
